/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap');*/

@font-face {
  font-family: 'black';
  src: url(./assets/fonts/Montserrat-Black.ttf) format('ttf');
}

@font-face {
  font-family: 'light';
  src: url(./assets/fonts/Montserrat-Light.ttf) format('ttf');
}

.App {
  font-family: "black",sans-serif;
  font-weight: 800;
  text-align: center;
}


.fonts{
  font-family: "light", sans-serif;
  font-weight: 100;
}


.App-logo  {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
